language: node_js
node_js:
  - "stable"

addons:
  chrome: stable

before_install:
  - npm install -g @lhci/cli@0.3.x


cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build
  - lhci autorun --rc-overrides.upload.target=temporary-public-storage- lhci autorun


before_deploy:
  - npm install netlify-cli -g

deploy:
  provider: script
  script: netlify deploy -s $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN -p --dir ./build
  skip_cleanup: true
  on:
    branch: dev
