.form {
    padding-top: 1rem;
}

.logoImg{
    width: 100%;
    height: auto;
    padding-top: 2rem;
}


.forgotPassform{

}

.registerForm{

}


/* For later use if we want to make this app scale better for desktop
@media only screen and (min-width: 1200px) {
    .login{
        max-width: 45%;
    }

}

 */
