.login {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form{
    width: 100%;
}

.link{
    color: white;

}
.label{
    color: #fafafa !important;
}
.typo{
    padding-top: 1.5em;
    font-family: sans-serif;
    font-size: 5px;
}

