.login {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.background{
    background-image: url("../assets/loginBackground.png");
}

.logo{
    margin: 1em;
    background-color: blue;
}

.form{
    width: 100%;
    margin-top: 1em;
}

.submit{
    margin: 3em;

}
