.login {
    padding-top: 2rem;
}
.logoImg{
    width: 100%;
    height: auto;
}
.loginP{
    color: white;
    font-family: sans-serif;
}
.formInput{

}
/*
@media only screen and (min-width: 1200px) {
    .login{
        max-width: 45%;
    }

}

 */
